@model IEnumerable<VetCenter.Models.Owner>

<h1>Właściciele</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id=item.OwnerId }) |
                @Html.ActionLink("Szczegóły", "Details", new { id=item.OwnerId }) |
                @Html.ActionLink("Usuń", "DeleteOwner", new { id=item.OwnerId })
            </td>
        </tr>
}
    </tbody>
</table>
